<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<main>
    <div class="app">
        <img src="<APP-PATH>/images/main.jpg" alt="Game Over" width="100%" height="100%">
        <p class="won">won: <%= won %></p>
        <p class="lost">lost: <%= lost %></p>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>