<meta charset="UTF-8">
<title>AWS Monster Chaos Game - Scores</title>
<meta http-equiv="refresh" content="5">

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="<APP-PATH>/css/style.css" type="text/css">